In [4]:
a = 10
id(a), a

(140707913065544, 10)

In [5]:
b = 10
id(b), b

(140707913065544, 10)

In [6]:
b = b + 5
# El estado interno de la memoria no cambia
# Cambia la referencia de b a otro sitio en memoria
id(b), b

(140707913065704, 15)

In [7]:
mi_lista = [1, 2, 3]
def add_100(lst):
    lst.append(100)
print(mi_lista, id(mi_lista))
add_100(mi_lista)
print(mi_lista, id(mi_lista))

[1, 2, 3] 3031066886720
[1, 2, 3, 100] 3031066886720

In [8]:
mi_tupla = (1, 2)
mi_tupla = mi_tupla + 10

TypeError: can only concatenate tuple (not "int") to tuple

In [9]:
a = [1, 2, 3]
b = [1, 2, 3]
id(a), id(b)

(3031072782592, 3031072765440)

In [10]:
# Para cadenas pequeÃ±as shared reference
a = 'Texto'
b = 'Texto'
id(a), id(b)

(3031066609328, 3031066609328)

In [11]:
a = 'TextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTexto'
b = 'TextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTexto'
id(a), id(b)

(3031047876144, 3031047876144)

In [1]:
a = [1, 2, 3]
id(a)

3031066651456

In [2]:
a[1] = 100
id(a), a

(3031066651456, [1, 100, 3])

In [3]:
b = (2, 3)
id(b), id(b[0]), id(b[1])

(3031066557376, 140707913065288, 140707913065320)

In [12]:
b = ([1, 2], [3, 4])
print(id(b), b)

3031072852800 ([1, 2], [3, 4])

In [13]:
b[0].append(100)
print(id(b), b)

3031072852800 ([1, 2, 100], [3, 4])

In [14]:
c = [1, 2, 3, 5, 7]
d = c
id(c), id(d)

(3031072780480, 3031072780480)

In [15]:
d[2] = 400
print(f"{d=}, {id(d)=}")

d=[1, 2, 400, 5, 7], id(d)=3031072780480

In [16]:
print(f"{c=}, {id(c)=}")

c=[1, 2, 400, 5, 7], id(c)=3031072780480

In [17]:
d = c[:]
id(d), id(c)

(3031072902720, 3031072780480)

In [19]:
a = [1, 2, 3, 4]
b = a.copy()
id(a), id(b)

(3031072897856, 3031072773440)

In [22]:
from copy import copy
a = [[2, 4], [3, 6]]
b = a.copy()
id(a), id(b)

(3031073255424, 3031073271360)

In [23]:
id(a[0]), id(b[0])

(3031073265856, 3031073265856)

In [24]:
from copy import deepcopy
a = [{"a": 10, "b": 100}, [[1, 2, [3, 4]], 'a'], 200, 400]
b = deepcopy(a)
id(a), id(b)

(3031073267136, 3031072896320)

In [26]:
id(a[1][0][2]), id(b[1][0][2])

(3031073260352, 3031066901440)

In [27]:
class MyObject():
    def __init__(self, a) -> None:
        self.a = a

a = MyObject(100)
b = MyObject(100)
id(a), id(b)

(3031073171792, 3031073161360)